<h1>Login page</h1>
<form action="/session" method="post">
  <p>Email:</p>
  <input type="email" name="email">
  <p>Password:</p>
  <input type="password" name="password"><br>
  <input type="submit" value="Login">
</form>
