<h1>Register a new account</h1>

<form action="/users" method="post">
  <p>Email:</p>
  <input type="email" name="email"/>
  <p>Password:</p>
  <input type="password" name="password"/><br>
  <input type="submit" value="Register"/>
</form>